<div class="get-rows-container">
  <input
  #rowsNumber
  [(ngModel)]="sliceNumber"
  name="rowsNumber"
  class="rows-to-show"
  type="number"
  placeholder="Rows to show" />
  <button class="btn show-rows" (click)="onSlice(rowsNumber.value)">Show Rows</button>
</div>
<table>
  <caption>
    DataTable
  </caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Company</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | slice:0:(sliceNumber) ? sliceNumber : 15">
      <td scope="row" data-label="Name">{{ user.name }}</td>
      <td data-label="Email">{{ user.email }}</td>
      <td data-label="Phone">{{ user.phone }}</td>
      <td data-label="Company">{{ user.company }}</td>
    </tr>
  </tbody>
</table>
