<table>
  <caption>
    DataTable
  </caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Company</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td scope="row" data-label="Name">{{ user.name }}</td>
      <td data-label="Email">{{ user.email }}</td>
      <td data-label="Phone">{{ user.phone }}</td>
      <td data-label="Company">{{ user.company }}</td>
    </tr>
  </tbody>
</table>
